/**** Basic Styles ****/

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  color: hsl(0,0%,30%);
}

#main-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
  font-weight: 400;
  color: hsl(0,0%,50%);
  margin-top: 2em;
}

footer a,
footer a:visited {
  text-decoration: none;
  font-weight: 400;
  color: hsl(0,0%,10%);
}

footer a:hover {
  color: hsl(0,0%,50%);
}


/**** Nav Styles & Keyframe Animation ****/

nav h1 {
  text-align: center;
  max-width: 80vw;
  margin: 20px auto 20px auto;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

.slide-left {
  display: inline-flex;
  animation-name: slideElemLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.slide-right {
  display: inline-flex;
  animation-name: slideElemRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes slideElemLeft {
  0% {
/*    opacity: 0;*/
    transform: translate(2.1em);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slideElemRight {
  0% {
/*    opacity: 0;*/
    transform: translate(-2.1em);
  }
  100% {
    transform: translate(0);
  }
}

/**** Sudoku Grid Styles ****/

table, td {
  margin: auto;
  border: 1px solid hsl(0,0%,30%);
  border-collapse: collapse;
}

td {
  font-size: 2em;
  padding: 5px 15px 5px 15px;
  color: white;
}

td:nth-of-type(1) {
  border-left: 3px solid hsl(0,0%,30%);
}

td:nth-of-type(3),
td:nth-of-type(6),
td:nth-of-type(9) {
  border-right: 3px solid hsl(0,0%,30%);
}

tr:nth-of-type(1) {
  border-top: 3px solid hsl(0,0%,30%);
}

tr:nth-of-type(3),
tr:nth-of-type(6),
tr:nth-of-type(9) {
  border-bottom: 3px solid hsl(0,0%,30%);
}

/**** Button and Message Styles ****/

#solve-button {
  text-align: center;
  width: 100px;
  margin: 20px auto 20px auto;
}

button {
  font-size: 1.5em;
  color: inherit;
  border: 1px solid hsl(0,0%,30%);
  background-color: hsl(180,100%,100%);
  border-radius: 3px;
}

button:active {
  background-color: hsl(180,0%,50%);
  color: #fff;
  border-color: #fff;
  border-radius: 3px;
  box-shadow: inset 1 5px 5px -5px hsla(190,10%,10%,1);
  transition-duration: 0s;
}

button:focus {
  outline: none;
}

#message {
  display: flex;
  justify-content: center;
  width: 390px;
  height: 90px;
  margin: 0px auto 10px auto;
  padding-top: 60px;
  border: 1px solid hsl(0,0%,30%);
}

/***** Board-Flip Animation *****/

.flip {
  animation: flipanim 1s ease-out;
}

@keyframes flipanim {
  50% {
    transform: rotateY(90deg);
  }
}

/***** Ellipse Animation *****/

.ellipse:after {
  overflow: hidden;
  display: flex;
  animation: ellipsis 1.5s steps(4,end) infinite;
  content: "\2026";
  width: 0.8em;
}

@keyframes ellipsis {
  from {
    width: 0;
  }
  to {
    width: 0.8em;
  }
}

/***** Media Queries *****/

@media screen and (max-width:480px) {

  nav h1 {
    max-width: 90vw;
    margin: 20px auto -0.5em auto;
    font-size: 2.5em;
  }
  table {
    transform:scale(0.8,0.8);
  }
  
  #solve-button {
    margin-top: -20px;
    margin-bottom: 25px;
  }
  
  button {
    font-size: 1.4em;
  }

  #message {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 55px;
    margin: 0px auto 10px auto;
    padding-top: 30px;
    border: 1px solid hsl(0,0%,30%);
  }
  
  footer {
    margin-top: 1em;
    font-size: 0.8em;
  }
}
